

.xp_applications {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.xp_application {
  text-align: center;
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  img {
    width: 32px;
  }


  &.open {
    .xp_window {
      display: inline-block;
    }
  }
}

.xp_window_btn_minimize,
.xp_window_btn_maximize,
.xp_window_btn_close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 6px;
  border: 0;
  cursor: pointer;
  appearance: none;
}
.xp_window_btn_minimize {
  right: 52px;
  background-image: url('../imgbin/ui/minimize_icon.png');
  &:hover {
    background-image: url('../imgbin/ui/minimize_icon_hover.png');
  }
}
.xp_window_btn_maximize {
  right: 29px;
  background-image: url('../imgbin/ui/maximize_icon.png');
  &:hover {
    background-image: url('../imgbin/ui/maximize_icon_hover.png');
  }
}
.xp_window_btn_close {
  right: 6px;
  background-image: url('../imgbin/ui/close_icon.png');
  &:hover {
    background-image: url('../imgbin/ui/close_icon_hover.png');
  }
}


.xp_application_title {
  color: #fff;
  width: 80px;
  font-size: 12px;
}



.xp_window_topbar {
  height: 30px;
  width: 100%;
  position: relative;
  background-image: url('../imgbin/ui/window_top.png');
  border-radius: 5px 5px 0 0;
  &:after {
    content: "";
    border-radius: 0 10px 0 0;
    background-image: url('../imgbin/ui/window_corner_right.png');
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 30px;
    width: 6px;
  }
  &:before {
    content: "";
    border-radius: 10px 0 0 0;
    background-image: url('../imgbin/ui/window_corner_left.png');
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 30px;
    width: 6px;
  }
}


.xp_window_content {
  height: calc(100% - 30px);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 4px;
  position: relative;
  &:before {
    content: "";
    background-image: url('../imgbin/ui/window_side_left.png');
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
  }
  &:after {
    content: "";
    background-image: url('../imgbin/ui/window_side_right.png');
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    width: 3px;
  }
}

.xp_window {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 500px;
  height: 500px;
  display: none;
}






// ie
.xp_ie_search {
  height: 10%;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  input {
    width: 100%;
  }
}

.xp_ie_iframe {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  height: 90%;
}
