

.xp_applications {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.xp_application {
  text-align: center;
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  img {
    width: 55px;
  }
}


.xp_application_title {
  color: #fff;
  width: 55px;
  font-size: 12px;
}


.xp_window_content {
  height: calc(100% - 30px);
}

.xp_window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate3d(-50%, -50%,0);
}
