* {
  box-sizing: border-box;
  outline: 0;
  user-select: none;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.xp_main_container {
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.xp_background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c0c0c0;
  background-image: url('../imgbin/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
