.xp_bottom_bar {
  width: 100vw;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 30px;
  position: absolute;
  background-image: url('../imgbin/ui/taskbar.png');
  background-repeat: repeat;
}

.xp_start_btn {
  width: 102px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url('../imgbin/ui/start_button.png');
  cursor: pointer;
  border: 0;
  appearance: 0;
  outline: 0;
  background-position: 0 0;

  &:hover {
    background-position: 0 59px;
  }
  &:active {
    background-position: 0 29px;
  }
}


.xp_startmenu {
  display: none;
  position: absolute;
  bottom: 100%;
  height: 479px;
  width: 380px;
  left: 0;
  box-shadow: 1px 0px 3px #222;
  border-radius: 5px 5px 5px 0;
  background-image: url('../imgbin/ui/start_menu.png');
  &.open {
    display: inline-block;
  }

  header {
    img {
      position: absolute;
      top: 10px;
      left: 9px;
      width: 48px;
    }
    h2 {
      text-shadow: 0px 0px 2px #222;
      position: absolute;
      left: 69px;
      top: 7px;
      font-size: 18px;
      color: #ffff;
      font-weight: normal;
    }
  }
}

.xp_bottom_bar_clock {
  position: absolute;
  right: 0;
  min-width: 50px;
  height: 30px;
  bottom: 0;
  background-repeat: repeat;
  padding: 0 20px;
  background-image: url('../imgbin/ui/clock.png');
  display: flex;
  align-items: center;
  justify-content: center;
}


.xp_system_tray_arrow {
  cursor: pointer;
  position: absolute;
  left: -21px;
  border: 0;
  appearance: 0;
  outline: 0;
  bottom: 0;
  background-image: url('../imgbin/ui/system_tray_arrow.png');
  height: 30px;
  width: 21px;
}


.xp_bottom_bar_time {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}


.xp_bottom_bar_applications {
  position: absolute;
  left: 100px;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;

  .xp_window_topbar_title {
    width: 134px;
    overflow: hidden;
    position: static;
    padding: 5px;
    height: 25px;
    background-image: url('../imgbin/ui/taskbar_states.png');
    background-position: 0 0;
    cursor: pointer;
    &:hover {
      background-position: 0 49px;
    }

    &:active {
      background-position: 0 24px;
    }
  }

  .xp_window_topbar_title_text {
    padding-top: 0;
    padding-left: 6px;
  }

}
