.xp_bottom_bar {
  width: 100vw;
  bottom: 0;
  left: 0;
  height: 30px;
  position: absolute;
  background-image: url('../imgbin/taskbar.png');
}


.xp_startmenu {
  display: none;
  position: absolute;
  bottom: 100%;
  height: 479px;
  width: 380px;
  left: 0;
  box-shadow: 1px 0px 3px #222;
  border-radius: 5px 5px 5px 0;
  background-image: url('../imgbin/start_menu.png');
  &.open {
    display: inline-block;
  }
}
